body
{
	background-color:#ffffff;
	white-space:nowrap;
	
	line-height:5px;
	letter-spacing:-0.1em;
	
	margin:0px;
	padding:0px;
}
font
{
	font-size:8px;
	font-family:ÇlÇr ÉSÉVÉbÉN,monospace;
	
	margin:0px;
	padding:0px;
}